# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/
ENV/

# Database (SQLite)
*.db
*.sqlite3

# Alembic
# We keep the alembic/ folder but ignore the cache/compiled files
alembic/__pycache__/

# FastAPI / Static
/static/

# OS/IDE specific
.DS_Store
.vscode/
.idea/

# Docker
.dockerignore